.c-article {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  
  overflow-x: hidden;
  min-width: $second-width;
  
  &--is-yoga {
    background-image: url(../img/_yoga/yoga_bg.jpg);
    background-position: -600px 0;
    background-size: cover;
    background-repeat: no-repeat;
    
    .article {
      max-width: $main-width;
      margin: 0 auto;
      padding-left: 343px;
    }
  }

}
.article {
  $a: &;
  width: 100%;
  box-sizing: border-box;
  
  &--is-right {
    max-width: 1160px;
    min-width: 640px;
    padding: 115px 175px 66px 190px;
    padding-left: 190px;
    @media screen and (max-width: 1359px) {
      padding: 115px 95px 66px;
    }
  }
  &--is-left {
    box-sizing: border-box;
    width: 320px;
    padding: 115px 75px 0 0;
  }
  &__wrapper {
    background-color: #fff;
    padding: 115px 166px 66px;
    @media screen and (max-width: 1359px) {
      padding: 115px 83px 66px;
    }
  }
  
  &__lead {
    @include raleway(20px, 400, 28px);
    margin-bottom: 20px;
    max-width: 630px;
  }
  &__subhead {
    @include raleway(16px, 600, 28px);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 50px 0 20px;
  }
  
  &__text {
    max-width: 630px;
    @include raleway(14px, 400, 28px);
    color: #000; //rgba(#000, 0.7);
    margin-bottom: 20px;
    
    &--is-gray {
      color: $gray-text;
      max-width: $main-width;
    }
  }
  
  &__link {
    color: $primary-color;
    text-decoration: none;
  }
  
  &__button {
    @include button;
    @include button-inverse;
    width: 204px;
    text-align: center;
    margin-top: 40px;
  }
  
  &__list {
    list-style-type: none;
    counter-reset: num;
    max-width: 630px;
    
    #{$a}__item {
      &:before {
        content: counter(num) '. ';
        counter-increment: num;
        font-weight: 500;
        position: absolute;
        margin-left: -35px;
      }
    }
    
  }
  &__ulist {
    list-style-type: none;
    max-width: 630px;
    #{$a}__item {
      margin-left: 35px;
      &:before {
        content: "◦";
        font-size: 18px;
        position: absolute;
        margin-left: -35px;
      }
    }
  }
  &__sublist {
    list-style-type: none;
    max-width: 630px;
    #{$a}__item {
      margin-left: 70px;
      &:before {
        content: "◦";
        font-size: 18px;
        position: absolute;
        margin-left: -35px;
      }
    }
  }
  &__subordered {
    list-style-type: none;
    counter-reset: abc;
    #{$a}__item {
      margin-left: 35px;
      &:before {
        content: counter(abc, lower-latin) '. ';
        counter-increment: abc;
        font-weight: 500;
        position: absolute;
        margin-left: -35px;
      }
    }
  }
  &__item {
    @include raleway(14px, 400, 28px);
    color: rgba(#000, 0.7);
    margin-bottom: 20px;
    margin-left: 35px;
  }
  
  &__form {
    width: 472px;
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 62px;
    padding-left: 25px;
    margin-bottom: 20px;
    
    background-color: $light-gray;
    
    @include raleway(16px, 400, 24px);
    letter-spacing: 0.5px;
    color: #000;
    outline: 2px solid transparent;
    transition: outline-color 0.2s ease-in-out;
    
    &:focus {
      background-color: #fff;
      outline: 2px solid $primary-color;
    }
    
    &--is-textarea {
      height: 143px;
      padding-top: 22px;
    } 
  }
  &__submit {
    @include button;
    @include button-inverse;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    &:focus {
      outline: none;
    }
  }
  &__reset {
    @include button;
    display: inline-block;
    margin-top: 20px;
    &:focus {
      outline: none;
    }
  }
}  

.icons {
  $s: &;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  max-width: 630px;
  margin-top: 40px;
  
  list-style-type: none;
  
  &__item {
    display: block;
    min-width: 204px;
    margin-right: 12px;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  &__text {
    @include raleway(14px, 500, 14px);
    color: #000;
    padding-left: 40px;
    margin-bottom: 14px;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      margin-left: -40px;
      width: 26px;
      height: 19px;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &--is {
      &-towel {
        &:before {
          background-image: url(../../_assets/img/_studios/bourg/icons/towel.svg);
        }
      }
      &-change {
        &:before {
          background-image: url(../..//_assets/img/_studios/bourg/icons/change.svg);
        }
      }
      &-shop {
        &:before {
          background-image: url(../../_assets/img/_studios/bourg/icons/shop.svg);
        }
      }
      &-spa {
        &:before {
          background-image: url(../../_assets/img/_studios/bourg/icons/spa.svg);
        }
      }
    }
  }
}

.shedule {
  $s: &;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  max-width: 630px;
  margin-top: 24px;
  
  list-style-type: none;
  
  &__item {
    display: block;
    width: 204px;
    margin-right: 12px;
    
    &:last-child {
      margin-right: 0;
    }
    
    &:first-child {
      margin-left: -12px;
      #{$s}__date, #{$s}__type, #{$s}__trainer, #{$s}__caption {
        border-left: 0;
      }
    }
  }
  &__caption {
    @include raleway(16px, 600, 16px);
    color: #000;
    padding-left: 12px;
    border-left: 1px solid rgba(#000, 0.2);
    margin-bottom: 14px;
  }
  &__text {
    @include raleway(14px, 500, 14px);
    color: #000;
    padding-left: 12px;
    margin-bottom: 14px;
  }
  &__date {
    @include raleway(16px, 500, 16px);
    color: #000;
    padding-left: 12px;
    border-left: 1px solid rgba(#000, 0.2);
    margin-bottom: 8px;
  }
  &__type {
    @include raleway(14px, 400, 14px);
    color: $gray-text;
    padding-left: 12px;
    margin-bottom: 12px;
  }
  &__trainer {
    @include raleway(16px, 400, 16px);
    color: #000;
    padding-left: 12px;
  }
}

.images {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  
  margin-top: 40px;
  
  &__item {
    display: block;
    width: 204px;
    height: 204px;
    box-shadow: 0 35px 20px -36px rgba(#000, 0.8);
    margin-right: 12px;
    margin-bottom: 13px;
  }
}

.trainers {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  
  list-style-type: none;
  
  &__item {
    display: block;
    margin-right: 12px;
  }
  &__name {
    @include raleway(16px, 400, 16px);
    color: #000;
    margin-bottom: 8px;
  }

  &__link {
    display: block;
    width: 204px;
    height: 204px;
    box-shadow: 0 35px 20px -36px rgba(#000, 0.8);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-bottom: 13px;
    
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 49px 30px -50px rgba(#000, 0.5);
    }
  }
}

.spotify {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  
  list-style-type: none;
  &__item {
    display: block;
    background-color: #d2d2d2;
    margin-right: 12px;
    width: 204px;
    height: 204px;
    box-shadow: 0 35px 20px -36px rgba(#000, 0.8);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-bottom: 13px;
    
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 49px 30px -50px rgba(#000, 0.5);
    }
  }
}


