.c-footer {
  box-sizing: border-box;
  background-color: #242424;
  padding: 60px 30px 65px;
  min-width: $second-width;
  
  &--is-gray, &--is-white {
    background-color: $light-gray;
    .footer {
      &__divider {
        background-color: rgba(#000, 0.2);
      }
      &__logo {
        background-image: url(../img/mix_logo_black.svg);
      }
      &__copy {
        color: rgba(#000, 0.2);
      }
      &-menu {
        &__caption {
          color: #000;
        }
        &__link {
          color: rgba(#000, 0.6);
          &:hover {
            border-bottom: 1px solid rgba(#000, 0.8); 
          }
        }
        &__social {
          &--is {
            &-instagram {
              background-image: url('../img/_footer/instagram.svg');
            }
            &-fb {
              background-image: url('../img/_footer/fb.svg');
            }
          }
        }
      }
    }
  }
  &--is-white {
    background-color: #fff;
  }
}

.footer {
  max-width: $main-width;
  margin: 0 auto;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  
  &__divider {
    flex-grow: 1000;
    height: 1px;
    width: 10px;
    background-color: rgba(#fff, 0.2);
    margin-top: 4px;
  }
  
  &__logo-holder {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  &__logo {
    width: 237px;
    height: 94px;
    background-image: url(../img/mix_logo.svg);
    background-position: center center;
    background-size: 237px;
    background-repeat: no-repeat;
    opacity: 0.7;
    margin-left: 40px;
  }
  
  &__copy {
    @include raleway(16px, 400, 16px);
    color: rgba(#fff, 0.2);
    text-align: right;
    
    margin-bottom: 15px;
  }
  
  &-menu {
    list-style-type: none;
    width: 159px;
    margin-right: 13px;
    
    &--is-follow {
      width: 136px;
    }

    &__item {
      margin-bottom: 15px;
      &--is-social {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

      }
      &--is-black {
        .footer-menu__social {
          &--is {
            &-instagram {
              background-image: url('../img/_footer/instagram_white.svg');
            }
            &-fb {
              background-image: url('../img/_footer/fb_white.svg');
            }
          }
        }
        
      }
    }

    &__caption {
      @include raleway(12px, 600, 12px);
      text-transform: uppercase;
      letter-spacing: 2px;
      color: rgba($primary-color, 0.4);
    }
    &__link {
      box-sizing: border-box;
      @include raleway(14, 400, 16px);
      color: rgba(#fff, 0.8);
      letter-spacing: -0.25px;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid rgba(#fff, 0.8);
      }
    }
    &__social {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background-size: 24px 24px;
      background-position: center center;
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 0.4;
      }

      &--is {
        &-instagram {
          background-image: url('../img/_footer/instagram_white.svg');
        }
        &-fb {
          background-image: url('../img/_footer/fb_white.svg');
        }
      }
    }
  }
}