.hero {
  width: $main-width;
  
  &__caption {
    @include raleway(82px, 500, 98px);
    color: #fff;
    max-width: 680px;
    margin-left: -6px;
  }
  &__text {
    @include raleway(16px, 400, 28px);
    color: rgba(#fff, 0.4);
    max-width: 680px;
  }
}