.l-container {
  min-width: $second-width;
  width: 100%;
  overflow-x: hidden;
  background-color: #000;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  &--is {
    &-gray {
      background-color: $light-gray;
    }
  }
  
  &__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    max-width: $big-width;
    min-width: $second-width;
    &--is {
      &-narrow {
        max-width: $main-width + $gutter;
      }
    }
    &--has {
      &-space {
        margin-top: 100px;
        &-after {
          margin-bottom: 100px;
        }
      }
    }
    &:first-child {
      margin-top: 70px;
    }
  }
  &__column {
    box-sizing: border-box;
    max-width: $big-width;
    width: 100%;
    min-width: 231px;

    
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    flex-grow: 1;
    flex-shrink: 1;
    
    &--is {
      &-margined {
        margin: 0 ($gutter / 2) $gutter;
        display: block;
      }
      &-full {
        min-width: $second-width;
      }
      &-half {
        max-width: 672px;
        
      }
      &-quarter {
        max-width: 331px;
      }
      &-left {
        justify-content: flex-end;
        flex-shrink: 0;
        width: 350px;
        //min-width: 350px;
        //max-width: 440px;
        padding-left: 30px;
        background-color: $gray;        
      }
      &-right {
        justify-content: flex-start;
        flex-shrink: 1;
        width: 1070px;
        padding-right: 30px;
        background-color: #fff;
      }
      &-yoga {
        background-image: url(../img/_yoga/yoga_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-team {
        &-angelina {
          background-image: url(../img/_team/_personal/angelina/angelina.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center top;
        }
      }
    }
    &--has {
      &-nopad {
        padding-left: 0;
      }
    }
  }
}
