.l-container {
  min-width: $second-width;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  background-color: #000;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  &--is {
    &-gray {
      background-color: $light-gray;
    }
    &-narrow {
      padding: 0 (30px - ($gutter / 2));
    }
  }
  
  &__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    max-width: $big-width;
    min-width: $second-width;
    &--is {
      &-narrow {
        box-sizing: border-box;
        max-width: $main-width + $gutter;
        min-width: $second-width - (60px - $gutter);
        &:first-child {
          margin-top: 70px;
        }
      }
    }
    &--has {
      &-space {
        margin-top: 100px;
        &-after {
          margin-bottom: 100px;
        }
      }
    }
    
  }
  &__column {
    box-sizing: border-box;
    max-width: $big-width;
    width: 100%;
    min-width: 231px;
    
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    flex-grow: 1;
    flex-shrink: 1;
    
    &--is {
      &-margined {
        margin: 0 ($gutter / 2) $gutter;
        display: block;
      }
      &-full {
        min-width: $second-width;
      }
      &-half {
        max-width: 672px;
        
      }
      &-quarter {
        max-width: 331px;
      }
      &-left {
        justify-content: flex-end;
        flex-shrink: 0;
        width: 350px;
        //min-width: 350px;
        //max-width: 440px;
        padding-left: 30px;
        background-color: $gray;        
      }
      &-right {
        justify-content: flex-start;
        flex-shrink: 1;
        width: 1070px;
        padding-right: 30px;
        background-color: #fff;
      }
      &-yoga {
        background-image: url(../img/_yoga/yoga_bg-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-trx {
        background-image: url(../img/_trx/trx_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-barre {
        background-image: url(../img/_barre/barre_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-team {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        &-beram {
          background-image: url(../img/_team/_personal/beram/beram.jpg);   
        }
        &-bessler {
          background-image: url(../img/_team/_personal/bessler/bessler.jpg);   
        }
        &-chazot {
          background-image: url(../img/_team/_personal/chazot/chazot.jpg);   
        }
        &-laverde {
          background-image: url(../img/_team/_personal/laverde/laverde.jpg);   
        }
        &-lutz {
          background-image: url(../img/_team/_personal/lutz/lutz.jpg);   
        }
        &-pais {
          background-image: url(../img/_team/_personal/pais/pais.jpg);   
        }
        &-garcia {
          background-image: url(../img/_team/_personal/garcia/garcia.jpg);   
        }
        &-tetah {
          background-image: url(../img/_team/_personal/tetah/tetah.jpg);   
        }
      }
    }
    &--has {
      &-nopad {
        padding-left: 0;
      }
    }
  }
}
