.c-team {
  box-sizing: border-box;
  background-color: $light-gray;
  padding: 100px 0 60px;
  min-width: $second-width;
}

.team {
  width: 100%;
  min-width: $second-width;
  max-width: $big-width;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  &__wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 4412px;
  }
  &__item {
    margin: 0 6px;
    font-size: 0;
  }
  &__photo {
    vertical-align: top;
    
    
  }
  &__controls {
    width: 100%;
    margin-top: -600px;
    max-width: $big-width;
    min-width: $second-width;
    
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  &__panel {
    position: relative;
    height: 600px;
    width: 108px;
    background-color: rgba(#f3f3f3, 0.8);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &--is-left {
      background: -moz-linear-gradient(left, rgba($light-gray, 1) 0%, rgba($light-gray, 0) 100%);
      background: -webkit-linear-gradient(left, rgba($light-gray, 1) 0%,rgba($light-gray, 0) 100%);
      background: linear-gradient(to right, rgba($light-gray, 1) 0%,rgba($light-gray, 0) 100%);
    }
    &--is-right {
      background: -moz-linear-gradient(left, rgba($light-gray, 0) 0%, rgba($light-gray, 1) 100%);
      background: -webkit-linear-gradient(left, rgba($light-gray, 0) 0%,rgba($light-gray, 1) 100%);
      background: linear-gradient(to right, rgba($light-gray, 0) 0%,rgba($light-gray, 1) 100%);
    }
  
  }
  
  &__arrow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(#000, 0.15);
    background-position: center center;
    background-size: 17px 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    
    &--is-left {
      background-image: url(../img/arrow_left.svg);
    }
    &--is-right {
      background-image: url(../img/arrow_right.svg);
    }
  }
  
}