@import '__modules/_settings';

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
}

@import '__modules/header';
@import '__modules/menu';
@import '__modules/slider';
@import '__modules/controls';
@import '__modules/caption';
@import '__modules/programs';
@import '__modules/gallery';
@import '__modules/footer';
@import '__modules/article';
@import '__modules/studios';
@import '__modules/squares';
@import '__modules/team';
@import '__modules/menu-vert';

@import '__modules/l-container';
@import '__modules/map';
